<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoDispositivosMoveis">
        <activity
            android:name="MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubtopicosActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <!--
                parentActivityName: diz ao Android que a "mãe" desta Activity
                é a MainActivity. Isso habilita a navegação hierárquica
                correta com a seta de voltar.
                exported="false": só o próprio app pode abrir esta Activity.
            -->
        </activity>
        <activity
            android:name=".CadastroSubtopicoActivity"
            android:exported="false"
            android:parentActivityName=".SubtopicosActivity"
            android:windowSoftInputMode="adjustResize" />
        <!--
            adjustResize: quando o teclado aparecer, o layout
            se redimensiona em vez de cobrir os campos — essencial
            para formulários com muitos campos.
        -->

        <activity
            android:name=".DetalheSubtopicoActivity"
            android:exported="false"
            android:parentActivityName=".SubtopicosActivity" />
    </application>

</manifest>